<div class="ui-accordion ui-widget ui-helper-reset">
  <h3 class="demo_header section ui-accordion-header ui-helper-reset ui-state-default ui-corner-top">
    <span class="ui-icon ui-icon-triangle-1-s"/>
    <a href="javascript://">Demo</a>
  </h3>
  <div class="demo_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
    <iframe height="100%" frameborder=0></iframe>
  </div>
  <h3 class="html_header section ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-triangle-1-e"/>
    <a href="javascript://">HTML</a>
  </h3>
  <div class="html_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
    HTML content
  </div>
  <h3 class="source_header section ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-triangle-1-e"/>
    <a href="javascript://">Source</a>
  </h3>
  <div class="source_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
    Source content
  </div>
</div>

