<div class="scripts_menu_wrapper">
	<ul class="scripts_menu">		
	<% for(var s=0;s<scripts.length;s++) {
	    var script = scripts[s]; %>
	    <li class="scripts_menu_item">
	    	<a href="javascript://">
	    		<% if(script.src) { %>
	    		    <%= script.src %>
			    <% } else { %>
	    		    <%= iframeWindow.location %>					
				<% } %>
		    </a>
		</li>	
	<% } %>
	</ul>
</div>

